
.login-section {

  width: 100%;
  height: 100%;
  background: url(/images/section-background.svg) 50%, #FFFFFF;


}

#login-button {
  height: 48px;
  font-weight: bold;
  font-size: 16px;
}


.login-box {
  border-radius: .3em;
  overflow: hidden;

  background: #FAFAFA;

  box-shadow: 0 10px 50px #CCC;

  img {
    height: 164px;
    width: 100%;
    object-fit: cover;
  }

  hr {
    border-top: 3px solid #d8d8d8;;
  }
}

.login-logo {

  .logo-image {
    padding: 2.5em 4em;
  }
}

.uk-form-label {
  color: #bbb;
  //font-size: 12px;
}

.uk-form-controls {
  margin-top: 4px;
}