.uk-navbar-nav {
  color: #ffffff;
  color: var(--navbar-color);

  li {
    transition: .2s all;

    &:hover:not(.welcome) {

      background-color: darken($primary-color, 5%);
      background-color: var(--primary-hover-color);
    }
  }
}

.uk-navbar-nav > li > a {
  text-transform: none;
}