@font-face {
  font-family: 'elepy';
  src: url('/admin-resources/fonts/elepy.eot?4rkbfq');
  src: url('/admin-resources/fonts/elepy.eot?4rkbfq#iefix') format('embedded-opentype'),
  url('/admin-resources/fonts/elepy.ttf?4rkbfq') format('truetype'),
  url('/admin-resources/fonts/elepy.woff?4rkbfq') format('woff'),
  url('/admin-resources/fonts/elepy.svg?4rkbfq#elepy') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa-elepy:before {
  font-family: 'elepy' !important;
  content: "\e900";
}