.placeholder{

}
.main-content{
    padding-top: 0px;
    margin-left: $sidebar-width;
   
    .data-section{
        height: 70vh ;
        overflow-y: scroll;
        
    }
    .uk-container .uk-container{
        padding-left: 40px;
        padding-right: 40px;
    }
    #content-form{
        padding: 2rem;
        margin-top: 20px;
    }
}
