
#login-section {
  height: 100vh;
  position: relative;
  $main-gradient: linear-gradient(to top left, #ff512f, #f09819);
  @include background-gradient($gradient: linear-gradient(to top right, rgba(#ff512f, 0.25), rgba(#f09819, 0.25)), $behind: url('/admin-resources/images/bg1.jpg'));
  background-size: cover;

}

.login-card {
  box-shadow: 0 0 3rem rgba(black, 0.4);
  transition: .4s all;

  .login-footer {

    padding: 1.3rem;
    background-color: #000;
    p {
      margin-bottom: 0;
    }
  }
  .login-header {

    background-color: #000;

    padding: 3rem;
    h5 {
      margin-top: 12px;
    }
    * {
      margin: 0;
      color: white;
      text-align: center;
      margin-bottom: 0;
    }

  }

  .login-content {
    padding: 2rem;
    margin-top: 0;
    top: 0;
    background-color: $off-white;
    box-sizing: border-box;
  }
  .uk-button {
    transition: .4s all;
    &:hover {
      background-color: darken($global-primary-background, 20%);

      background-color: whitesmoke;
      color: #000;
    }

  }
}
